version: 1
services:
  - type: static_site
    name: skillsensie-frontend
    env: node
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: "18"
      - key: VITE_API_URL
        value: "https://skill-sensei-yxti.onrender.com/api/v1"
      - key: VITE_BACKEND_URL
        value: "https://skill-sensei-yxti.onrender.com"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html